* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #ffffff;
  --background-primary: #090A0B;
  --background-secondary: #131516;
  --transparent: rgba(255, 255, 255, 0.02);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

#form {
  background: var(--background-secondary);
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
}

#form input {
  border: 0;
  padding: 10px;
  width: 80%;
  margin-right: 0%;
  margin-left: 5%;
  background-color: transparent;
  color: var(--text-primary);
  transition: 0.2s;
  transform: translateY(-10px);
  border-bottom: solid 2px transparent;
  font-family: 'Roboto', sans-serif;
}

#form button {
  width: 9%;
  background: transparent;
  border: none;
  padding: 10px;
  color: #3772FF;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
}

#messages li:nth-child(odd) {
  background: var(--transparent);
}

#messages li:last-child {
  margin-bottom: 5em;
}

#m:focus {
  border-bottom: solid 2px #1C1F22;
  transition: 0.2s;
}

#form button:active {
  color: #2274A5;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.register, #roomName {
  background-color: #28292A;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  z-index: 21;
  padding: 10px;
  text-align: center;
}

.register h1 {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 1em;
}

#username-input, #r {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(28, 31, 34);
  font-family: 'Roboto', sans-serif;
  color: var(--text-primary);
}

#username button, #roomName button {
  background: transparent;
  border: none;
  color: #3772FF;
}

#username button:active, #roomName button:active {
  color: #2274A5;
}

#svCode {
  color: var(--text-primary);
}

#completeSV {
  display: none;
  color: var(--text-primary);
  font-family: 'Roboto', sans-serif;
}

#roomName {
  display: none;
}

.blocker {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
}

.pfp {
  float: left;
  position: relative;
  top: -.75em;
  left: -1em;
  height: 2.5em;
  border-radius: 100%;
  cursor: pointer;
}

.topbtn {
  background: var(--background-secondary);
  padding: 1em;
  text-transform: uppercase;
  position: fixed;
  color: var(--text-primary);
  text-decoration: none;
  border-radius: 0.3em;
  box-shadow: 0 0.2em 0.64em rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}

#changeRoom {
  top: 0.5em;
  right: 0.5em;
}

#changeTheme {
  top: 3em;
  right: 0.5em;
}